{% extends "cms_layout.jinja2" %}
{% block blog %}
    <body class="bg-gray-100">
        <h1 class="text-2xl font-bold ">New Post</h1>
            <form method="POST" action="{{ url_for('cms.blog') }}" hx-post="{{ url_for('cms.blog') }}" hx-target="#post-list" hx-swap="outerHTML">
                {{ form.hidden_tag() }}
                <div class="mb-2">
                {{ form.body(class="form-textarea w-full h-32 p-4 text-lg border border-gray-300 rounded-lg focus:border-blue-500 focus:ring focus:ring-blue-200") }}

                </div>

                <div>
                {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-2 rounded focus:outline-none focus:shadow-outline") }}
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit</button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save</button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Delete</button>
                </div>
            </form>
        </div>

    </body>
{% endblock %}
    
