{% extends "home_layout.jinja2" %}
{% block layout %}
    <div  id="about">
        <header class="text-left my-2">
            <h1 class="text-4xl font-bold">Jonathan Gracias</h1>
            <p class="text-xl mt-2">Software Engineer</p>
        </header>

        <section>
            <h2 class="text-3xl font-semibold mb-4">About Me</h2>
            <p>I am a highly skilled and motivated Web Developer with a strong background in various programming languages and frameworks. My expertise lies in HTML, JavaScript, CSS, Python, and Java, and I have a special preference for working with the Flask, HTMX, and Tailwind stack. I find joy in backend programming and have professional experience in developing and maintaining WordPress sites.</p>
        </section>

        <section class="mt-8">
            <h2 class="text-3xl font-semibold mb-4">Skills</h2>
            <ul class="list-disc pl-5">
                <li>HTML, JavaScript, CSS</li>
                <li>Python, Java</li>
                <li>Flask, HTMX, Tailwind</li>
                <li>WordPress Development</li>
                <li>Backend Programming</li>
            </ul>
        </section>
</div>
{% endblock %}