{% extends "home_layout.jinja2" %}
{% block layout %}

<div id="home">

    <header class="text-left">
        <h1 class="text-4xl font-bold">Welcome to My World</h1>
        <p class="text-xl mt-2">
            Welcome to my personal portfolio and blog. Here, you'll find a showcase of my projects, 
            my journey as a web developer, and my thoughts shared through my blog. I specialize in creating dynamic, 
            user-friendly websites using Flask, HTMX, and Tailwind.
        </p>
    </header>

    <section class="mt-4">
        <h2 class="text-3xl font-semibold mb-4">Featured Projects</h2>
        <p>Discover my recent work including various web applications, collaborations,
         and personal projects. Each project highlights my skills in different aspects of web development.</p>
        <!-- You can add a list or gallery of projects here -->
    </section>

    <section class="mt-8">
        <p class="text-gray-400">
        Interested in blogging? Join our community!<a href="/signup" class="text-gray-100"> Sign up today!</a></p>
        <!-- Link to the login or sign-up page -->
    </section>

</div>
{% endblock %}
