<div class="text-left">
    {% if is_authenticated %}
    <h2 class="text-gray-100">{{ user_name }}</h2>
    {% else %}
    <a hx-get="/login?path={{ request.path }}" hx-swap="innerHTML" hx-target="#hero" class="text-gray-400">Login</a>
    {% endif %}

</div>

<div id="links" class="hidden sm:block">
    <!-- This will be hidden on screens smaller than 640px by default -->
    {% block nav %}{% endblock %}
</div>

<div id="mobile" class="block sm:hidden">
    <!-- This will be visible on screens smaller than 640px and hidden on larger screens -->
    <div class="text-right" id="mobile">
        <a  class="link-gray"
            hx-get="/nav_mobile?current={{ request.path }}&layout={{ request.path }}"
            hx-target="#hero"
            hx-swap="innerHTML">
            MENU
        </a>
    </div>
</div>

