<div>
    <ul 
        hx-trigger="load"
        hx-get="/mobile_close?current={{ current }}"
        hx-target="#mobile"
        hx-swap="innerHTML">

        <li class="button-gray">
            <a  
                class="{% if request.path == '/' %}current{% endif %}" 
                href="/">
                Home
            </a>
        </li>
        <li class="button-gray">
            <a  
                class="{% if request.path == '/projects' %}current{% endif %}" 
                href="/projects">
                Projects
            </a>
        </li>
        <li class="button-gray">
            <a  
                class="{% if request.path == '/about' %}current{% endif %}" 
                href="/about">
                About
            </a>
        </li>
    </ul>
</div>
