<div class="text-right" id="account">
    <a href="/update" class="link-gray">Password</a>
    <a href="/logout" class="link-gray">Logout</a>
    <a class="link-gray"
        hx-get="/navbar_layout?layout=blog&current={{ request.path }}"
        hx-target="#links"
        hx-swap="innerHTML">
        Close
    </a>
</div>

    
