<div class="text-right" id="blog_nav">

    <a class="link-gray {% if request.path == '/feed' %}current{% endif %}" 
       href="/feed">
       Feed
    </a>

    <a  class="link-gray {% if request.path == '/blog' %}current{% endif %}" 
        href="/blog">
        Blog
    </a>

    {% if current_user.is_authenticated %}
        <a class="link-gray"
            hx-get="/navbar_layout?layout=account&current={{ request.path }}"
            hx-target="#links"
            hx-swap="innerHTML">
            Account
        </a>
    {% endif %}
    <a class="link-gray {% if request.path == '/feed' %}current{% endif %}" 
            href="/projects">
            Exit
    </a>
</div>


