{% extends "home_layout.jinja2" %}
{% block layout %}
     <div id="projects">

        <div class="project-card">
            <h1 class="text-6xl">Blog</h1>
            <div class="mx-auto max-w-prose">
                <p class="text-base md:text-lg lg:text-xl font-normal text-gray-700 dark:text-gray-300 leading-relaxed my-4">
                    By: Jon Gracias
                </p>
                <p class="text-base md:text-lg lg:text-xl font-normal text-gray-700 dark:text-gray-300 leading-relaxed my-4">
                    Blogs can cover a wide range of topics, from personal life and hobbies to highly specialized subjects. 
                    They can be an effective platform for individuals or organizations to establish an online presence, 
                    share insights, and engage with a broader audience.
                </p>
                <a class="text-base md:text-lg lg:text-xl font-normal text-gray-700 dark:text-gray-300 leading-relaxed my-4 text-right block" href="/feed">Go to Blog</a>
            </div>
        </div>

    </div>
{% endblock %}