{% extends "auth_layout.jinja2" %}

{% block auth %}
  <div class="max-w-sm mx-auto py-8">

    {% for message in get_flashed_messages() %}
      <div class="bg-yellow-200 border-yellow-600 text-yellow-800 border-l-4 p-4 mb-4">
        <button type="button" class="text-yellow-800 hover:text-yellow-600 focus:outline-none focus:shadow-outline close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}

    <h1 class="text-3xl font-semibold text-center text-gray-600 mb-6">Sign Up</h1>

    <form method="POST" action="/signup" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      {{ form.csrf_token }}

      <div class="mb-4">
        {{ form.user_name.label(class='block text-gray-700 text-sm font-bold mb-2') }}
        {{ form.user_name(class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder='John Smith') }}
        {% if form.user_name.errors %}
          <ul class="text-red-500 text-xs italic">
            {% for error in form.user_email.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="mb-4">
        {{ form.user_email.label(class='block text-gray-700 text-sm font-bold mb-2') }}
        {{ form.user_email(class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder='youremail@example.com') }}
        {% if form.user_email.errors %}
          <ul class="text-red-500 text-xs italic">
            {% for error in form.user_email.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="mb-4">
        {{ form.user_password.label(class='block text-gray-700 text-sm font-bold mb-2') }}
        {{ form.user_password(class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline') }}
        {% if form.user_password.errors %}
          <ul class="text-red-500 text-xs italic">
            {% for error in form.user_password.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="mb-6">
        {{ form.user_password_confirm.label(class='block text-gray-700 text-sm font-bold mb-2') }}
        {{ form.user_password_confirm(class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline') }}
        {% if form.user_password_confirm.errors %}
          <ul class="text-red-500 text-xs italic">
            {% for error in form.user_password_confirm.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="mb-6">
        {{ form.user_metadata_website.label(class='block text-gray-700 text-sm font-bold mb-2') }}
        {{ form.user_metadata_website(class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline', placeholder='http://example.com') }}
      </div>

      <div class="flex items-center justify-between">
        {{ form.submit_button(class='bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline') }}
      </div>

    </form>

    <div class="text-center text-sm text-gray-600 mt-4">
      <a class="text-gray-600 hover:text-gray-200" href="{{ url_for('auth.login') }}"><span>Already have an account? Log in.</span></a>
    </div>
  </div>
{% endblock %}
