<div class="navbar" id="nav">
    <div class="text-left">
        
    </div>
    {# Redunancy is important to stop links from loading - prevents nav flashing #}
    <div class="sm:block hidden" id="right-side-large">
        <div class="flex justify-between items-center">
            <div class="text-left" id="links">
            <a class="link-gray" href="/">Home</a>
            <a class="link-gray" href="/about">About</a>
            <a class="link-gray" href="/projects">Projects</a>
            </div>

            <div class="link-gray text-right block" id="user_menu"
                hx-get="/layout?menu=user_menu"
                hx-target="#links"
                hx-swap="innerHTML"
                onclick="toggleButtons('user_menu', 'close_user_menu')">
                User Menu
            </div>
            <div class="link-gray text-right hidden" id="close_user_menu"
                hx-get="/layout?menu=default"
                hx-target="#links"
                hx-swap="innerHTML"
                onclick="toggleButtons('close_user_menu', 'user_menu')">
                Close
            </div>
        </div>
    </div>

    <div class="sm:hidden block" id="right-side-small">
        <div class="link-gray text-right block" id="mobile_menu"
            hx-get="/layout?menu=mobile"
            hx-target="#hero"
            hx-swap="innerHTML"
            onclick="toggleButtons('mobile_menu', 'close_mobile_menu')">
            Menu
        </div>
        <a class="link-gray text-right hidden" id="close_mobile_menu"  href="/close">
            Close
        </a>
    </div>
</div>
